version: '3.8'

services:
  backend:
    # image: ghcr.io/thanaiquynh/hex-to-rgb-converter-backend:latest
    build:
      context: ./BE
      dockerfile: Dockerfile
    ports:
      - "8000:8000"
    environment:
      - PYTHONUNBUFFERED=1
    restart: unless-stopped

  frontend:
    build:
      context: ./FE
      dockerfile: Dockerfile
    ports:
      - "3000:3000"
    environment:
      - NODE_ENV=development
    restart: unless-stopped
    depends_on:
      - backend
